VITE_SUPABASE_URL=https://dgcnxvpqqxurezhwqcnw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRnY254dnBxcXh1cmV6aHdxY253Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk0Mzk2MDcsImV4cCI6MjA5NTAxNTYwN30.1TTYVe8MGuzkCcb45zV7R5oYx29MgPy7-dGlo4FFQT8
VITE_API_URL=http://localhost:3001
